-e git+git://github.com/etianen/django-require.git#egg=django-require
-e git+git@codebasehq.com:linkscreative/links-creative/links-devops.git#egg=devops
-e git+git@github.com:radiosilence/devops.git#egg=dapper-devops
servers.py
-e git://github.com/yourcelf/django-jimmypage.git#egg=django_jimmypage-dev
django-apptemplates>=0.0.1
django-breadcrumbs
django-celery-with-redis
django-crispy-forms
django-extensions
Django>=1.5.1
Fabric
ipython
johnny-cache
Pillow>=2.0.0
psycopg2
PyYAML
sorl-thumbnail
South
Unipath